<p class="h2">Hi <%= @character.name %>, Select your new magic item</p>

<form id="magicItemSelectForm", action="<%= url_for(:purchase_magic_item_transaction) %>" method="post"><%= token_tag %>

  <div class="list-group">
    <input list="magicItemDropdown" id="magic_item" name="magic_item">
  </div>
    <datalist id="magicItemDropdown">
      <% @magic_items.each do |item| %>
        <option value="<%= item.name %> || <%= item.tp %> TP">
      <% end %>
    </datalist>


  <div class="actions">
    <input type="submit" class="btn btn-primary" value="Add Item">
  </div>

</form>