<p id="notice"><%= notice %></p>

<h1>Characters</h1>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Race</th>
      <th scope="col">Level</th>
      <th scope="col">CP</th>
      <th scope="col">GP</th>
      <th scope="col">Add Items and Quests</th>
      <th scope="col">Delete Character</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= character.name %></td>
        <td><%= character.race %></td>
        <td><%= character.level %></td>
        <td><%= character.cp %></td>
        <td><%= character.gp %></td>
        <td><%= link_to 'View Details', character, :class => 'badge badge-light' %></td>
        <td><%= link_to 'Destroy', character, :class => 'badge badge-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Character', new_character_path, :class => "btn btn-outline-dark" %>
