<p class="h2">Add TP to magic items by typing an amount</p>
<p class="h3">TP available: <%= @quest.tp %></p>


<%= form_for :finish_quest_input, url: :generate_log do |form| %>

  <% @character_magic_items.each do |item| %>
    <% if item.applied_tp < item.magic_item.tp %>
      <div class ="form-group">
        <%= form.label 'item name' %>
        <%= form.text_field 'name', :class => "form-control", :required => true, :readonly => true, :value => item.magic_item.name %>
        <%= form.label 'item required TP' %>
        <%= form.text_field 'tp required', :class => "form-control", :required => true, :readonly => true, :value => item.magic_item.tp %>
        <%= form.label 'Currently Applied TP' %>
        <%= form.text_field 'applied tp', :class => "form-control", :required => true, :readonly => true, :value => item.applied_tp %>
        <%= form.label 'add TP to item'%>
        <%= form.text_field item.magic_item.name, :required => true, :value => '0.0',  :class => "form-control" %>
      </div>
    <% end %>
  <% end %>
  <%= form.submit 'Done Adding TP, Generate Logs', :class => 'btn btn-outline-dark' %>
<% end %>

<%= link_to 'Need Additional Magic Items', :add_magic_item_during_level_up, id: @character.id, quest: @quest.id, :class => "btn btn-outline-dark" %>


